<html>
<head>
    <title>Titel</title>
    #if (${action.errorMessages.empty})
        <meta name="decorator" content="issueaction" />
    #else
        <meta name="decorator" content="message" />
    #end
</head>
<body>
    #if(${action.errorMessages.empty})
    <form action="ConnectBranchAction.jspa" class="aui" id="schedule-issue" method="post">
        <div class="form-body">
            <div class="hidden">
                <input name="atl_token" type="hidden" value="${action.xsrfToken}">
            </div>
            <h2 class="dialog-title">Dialog Title</h2>
            <div class="hidden">
                <input name="id" type="hidden" value="${action.id}">
                <input name="returnUrl" type="hidden" value="${action.returnUrl}">
            </div>
            <fieldset>
                <legend><span>Details</span></legend>
                <div class="field-group">
                    <label for="name">Branch:</label>
                    <input id="branch" type="text" name="branch" class="text" value="${action.branch}">
                </div>
            </fieldset>
        </div>

        <div class="buttons-container form-footer">
            <div class="buttons">
                <input id="connect-branch-submit" class="button" name="Connect" type="submit" value="Connect">
                <a id="connect-branch-cancel" class="cancel" href="#">Cancel</a>
            </div>
        </div>
    </form>
    #else
    <div class="remove-me">
        <h1>${action.getText('common.words.error')}</h1>
        <div class="aui-message error"><span class="aui-icon icon-error"></span>
            #foreach($message in $action.flushedErrorMessages)
                <p>$message</p>
            #end
        </div>
    </div>

    #end
</body>
</html>
