<html>
<head>
    <title>SCM-Manager Settings</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body>
<form id="admin" class="aui" method="post">
    <h1>SCM-Manager Settings</h1>
    <input type="hidden" name="project" value="$project">
    <div class="field-group">
        <label for="name">Repository URL:</label>
        <input type="text" id="name" name="repository" class="text" value="$repository">
    </div>
    <div class="field-group">
        <input type="submit" value="Save" class="button">
    </div>
</form>
</body>
</html>